In [11]:
import seaborn as sns
import pandas as pd
flights= sns.load_dataset('flights')
flights.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [15]:
passenger_stats = flights['passengers'].agg(['min', 'max'])
print(f"Maximum passengers: {passenger_stats['max']}, Minimum passengers: {passenger_stats['min']}")

Maximum passengers: 622, Minimum passengers: 104

In [24]:
# avg number of passengers by month
average_passengers = flights.groupby('month',observed=True)['passengers'].mean().reset_index()
print(average_passengers)

   month  passengers
0    Jan  241.750000
1    Feb  235.000000
2    Mar  270.166667
3    Apr  267.083333
4    May  271.833333
5    Jun  311.666667
6    Jul  351.333333
7    Aug  351.083333
8    Sep  302.416667
9    Oct  266.583333
10   Nov  232.833333
11   Dec  261.833333

In [23]:
highest_avg_month = flights.groupby('month', observed=True)['passengers'].mean().idxmax()
highest_avg_value = flights.groupby('month', observed=True)['passengers'].mean().max()
print(f"The month with the highest average passengers is: {highest_avg_month} with an average of {highest_avg_value:.2f} passengers.")

The month with the highest average passengers is: Jul with an average of 351.33 passengers.

In [26]:
crosstab_result = pd.crosstab(index=flights['month'], columns=flights['year'], values=flights['passengers'], aggfunc='sum').fillna(0)
print(crosstab_result)

year   1949  1950  1951  1952  1953  1954  1955  1956  1957  1958  1959  1960
month
Jan     112   115   145   171   196   204   242   284   315   340   360   417
Feb     118   126   150   180   196   188   233   277   301   318   342   391
Mar     132   141   178   193   236   235   267   317   356   362   406   419
Apr     129   135   163   181   235   227   269   313   348   348   396   461
May     121   125   172   183   229   234   270   318   355   363   420   472
Jun     135   149   178   218   243   264   315   374   422   435   472   535
Jul     148   170   199   230   264   302   364   413   465   491   548   622
Aug     148   170   199   242   272   293   347   405   467   505   559   606
Sep     136   158   184   209   237   259   312   355   404   404   463   508
Oct     119   133   162   191   211   229   274   306   347   359   407   461
Nov     104   114   146   172   180   203   237   271   305   310   362   390
Dec     118   140   166   194   201   229   278   306   336   337   405   432