In [19]:
import pandas as pd

In [29]:
sample=pd.read_csv("Sample - Superstore.csv",encoding='latin1')
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [30]:
sample.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [31]:
sample['Sales'].corr(sample['Quantity'])

np.float64(0.20079477137389767)

In [32]:
sample['Quantity'].corr(sample['Profit'])

np.float64(0.06625318912428486)

In [33]:
sample['Discount'].corr(sample['Profit'])

np.float64(-0.21948745637176834)

In [38]:
# Select only numeric columns
numeric_sample = sample.select_dtypes(include=['number'])
numeric_sample.corr()

               Row ID  Postal Code     Sales  Quantity  Discount    Profit
Row ID       1.000000     0.009671 -0.001359 -0.004016  0.013480  0.012497
Postal Code  0.009671     1.000000 -0.023854  0.012761  0.058443 -0.029961
Sales       -0.001359    -0.023854  1.000000  0.200795 -0.028190  0.479064
Quantity    -0.004016     0.012761  0.200795  1.000000  0.008623  0.066253
Discount     0.013480     0.058443 -0.028190  0.008623  1.000000 -0.219487
Profit       0.012497    -0.029961  0.479064  0.066253 -0.219487  1.000000

In [39]:
sample['Profit'].kurt()

np.float64(397.1885145524141)

In [40]:
sample['Discount'].kurt()

np.float64(2.4095461225966774)

In [41]:
sample['Sales'].kurt()

np.float64(305.311753246823)

In [42]:
sample['Profit'].skew()

np.float64(7.561431562468343)

In [43]:
sample['Sales'].skew()

np.float64(12.97275234181623)

In [44]:
sample['Discount'].skew()

np.float64(1.6842947474238648)

In [45]:
sample['Quantity'].skew()

np.float64(1.2785447527223421)